{% extends 'AppBundle::layout.html.twig' %}
{% block Body %}
    <div class="container">
        <div class="chat">
            <div class="feed">

            </div>
            <div class="form">
                <textarea name="" id="input" rows="5" autofocus></textarea>
            </div>
        </div>
        <div class="sidebar">
            {% if is_granted('ROLE_ADMIN') %}
                Hello {{ app.user.username }}!
            {% else %}
                <a href="{{ url('user_registration') }}">Registration</a>
                <a href="{{ url('login') }}">Login</a>
            {% endif %}
            <hr>
            Online: <span class="users-online">0</span>
        </div>
    </div>
{% endblock %}
