{% extends 'AppBundle::layout.html.twig' %}
{% block Body %}
    <div class="container">
        <div class="chat">
            <div class="feed">

            </div>
            <div class="form">
                <textarea name="" id="input" rows="5" autofocus></textarea>
            </div>
        </div>
        <div class="sidebar">
            Online: <span class="users-online">0</span>
        </div>
    </div>
{% endblock %}
