<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% stylesheets
    '@AppBundle/Resources/public/css/main.css'
    output='css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {{ ws_client() }}

    <script type="text/javascript">
        var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
    </script>
<body>
{% block Body %}{% endblock %}
</body>
</html>
